#pdog {
    width: 183px;
    height: 330px;
    float: right;
    margin-right: 550px;
}
.container {
    text-align: center;
}

body {
    background: coral;
    text-align: center;
}
header {
    background: blueviolet;
}